---
interface Props {
    id: number;
	title: string;
    description: string;
    image: string;
}

let { id, title, description, image } = Astro.props;
image = 'http://localhost:5000/' + image;
---

<a href={`/posts?id=${id}`}>
    <div class="article-container">
        <div>
            <img src={image} class="article-image" />
        </div>
        <div>
            <p class="article-title">{title}</p>
            <p class="article-description">{description}</p>
        </div>
    </div>
</a>

<style>
    a {
        all: unset;
    }

    a:hover {
        transition: all 0.15s ease;
        color: #5badf0;
        cursor: pointer;
    }

    .article-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 15px;
        width: 50vw;
        background-color: rgb(255, 255, 255);
        font-family: system-ui, sans-serif;
        padding: 10px 10px;
    }

    .article-image {
        width: 150px;
        height: 100px;
    }

    .article-title {
        font-size: 24px;
        font-weight: 600;
    }

    .article-description {
        font-weight: 400;
        color: #aaa;
        font-size: 18px;
        margin-top: -8px;
    }
</style>